* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: red;
}

header h1 {
    display: inline-block;
}

header h1 img {
    width: 20%;
    float: left;
}

header h1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav {
    float: right;
}

.wrapper {
    margin: auto;
    width: 1200px;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

header nav ul li a:hover {
    border-radius: 10px 20px;
    transition: all 0.3s ease-in;
    background-color: white;
    color: red;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table, td {
    border: 1px solid red;
}

td, th {
    text-align: center;
    padding: 20px;
}

table a {
    text-decoration: none;
    color: white;
}

table a:hover {
    text-decoration: underline;
}

main p {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.clear {
    clear: both;
}
main p a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

main p a:hover {
    border-radius: 9px;
    background-color: white;
    color: #999999;
    transition: all 0.2s ease-in;
}

main {
    color: white;
    background-color: #999;
    padding: 50px;
}

