body {
    background-color: grey;
}

a {
    text-decoration: none;
    color: darkred;

}

a:hover {
    background-color: aquamarine;
}

section > button:hover {
    background-color: yellow;
}

h1 {
    margin: 20px;
    padding: 4px;
    font-family: Calibri;
    font-size: 50px;
}

footer {
    color: aliceblue;
    padding: 5px;
    border: 2px solid aqua;
}

p {
    color: white;
}