* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header {
    background: aqua;
}

header h4 {
    color: darkblue;
    padding: 30px;
    width: 15%;
}

header nav {
    width: 1000px;
}

header nav img {
    height: 520px;
    width: 450px;
    margin-bottom: -5px;
    margin-left: 50px;
}

header nav p {
    margin-top: 100px;
    float: right;
    color: white;
    margin-right: 220px;
    margin-left: 20px;
    display: inline-block;
}

main ul {
    font-size: 30px;
    margin-top: 100px;
    list-style-type: none;
    margin-left: 180px;
}

main ul li {
    display: inline;
    text-align: center;
    margin: 50px;
    color: darkblue;
}

#velicina {
    font-family: inherit;
    font-size: 60px;
    color: aqua;
}

main nav {
    padding: 10px;
    padding-right: 75px;
}

main nav img {
    padding: 15px;
    height: 330px;
    width: 240px;
}

footer {
    text-align: center;
    background: aqua;
    padding: 20px;
    margin-top: 100px;
}