* {
    margin: 0;
    padding: 0;
}

.wrapper
{
    width: 1200px;
    margin: auto;
}

.clear {
    clear: both;
}

header {
    padding: 10px;
}

header h1 {
    display: inline-block;
}

header nav {
    display: inline-block;
}

